@charset "UTF-8";

header {
    margin-bottom: 60px;
}

.error {
    color: red;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}

.backLogin {
    text-align: center;
}

p {
    text-align: center;
}

.id {
    margin-bottom: -2px;
}

.loginName {
    float: left;
}

.logout {
    text-align: right;
}

.topContent {
    margin: 0 100px 0 100px;
}

.topNav {
    display: flex;
    /* justify-content: space-between; */
}

.topNav>a {
    display: grid;
    place-items: center;
    background-color: black;
    width: 25rem;
    height: 50px;
    border: 3px solid white;
    color: white;
    text-decoration: none;
}


a {
    display: block;
}

.corpInc {
    text-align: right;
}

/*-------------------------
room_list.php
-------------------------*/

.table_name{
    height: 40px;
}

.roomlist_table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border: solid 1px #000000;
    border-collapse: collapse;
}


.roomlist_table tr,
.roomlist_table td,
.roomlist_table th {
    border: solid 1px #000000;
    border-collapse: collapse;
}

.list_id {
    width: 6rem;
}

.list_img {
    width: 540px;
}

.list_created_at {
    width: 17rem;
}

.list_updated_at {
    width: 17rem;
}

.roomedit_table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border: solid 1px #000000;
    border-collapse: collapse;
}

.roomedit_table tr,
.roomedit_table td,
.roomedit_table th {
    border: solid 1px #000000;
    border-collapse: collapse;
}

.img_data{
    width: 500px;
    height: 300px;
     margin:auto;
     display:table-cell;
     text-align:center;
}

img.listimage{
    vertical-align:middle;
    max-width:450px;
    max-height:250px;
    width: auto;
    height: auto;
}

.title_btn{
    height: 60px;
    width: 260px;
    background-color: white;
    color: black;
    margin: 10px 0px 15px 0px;
    font-size: 20px;
}

.edit_group>p>button{
    height: 60px;
    width: 120px;
}

.list_create>button{
    height: 60px;
    width: 120px;
}

.list_id>p>button, .list_name>p>button, .list_created_at>p>button, .list_updated_at>p>button{
display: flex;
border: none;  /* 枠線を消す */
outline: none; /* クリックしたときに表示される枠線を消す */
background: transparent; /* 背景の灰色を消す */
}