@charset "UTF-8";

/*-------------------------
    共通部分のCSS
-------------------------*/
header {
    margin-bottom: 60px;
}

.error {
    color: red;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}

main{
    width: 1200px;
}

/*-------------------------
    header
-------------------------*/
.topContent {
   margin: auto;
}

.loginName {
    float: left;
}

.logoutLink {
    text-align: right;
}

.topNav {
    display: flex;
}

.topNav>a {
    width: 157px;
    height: 40px;
    font-size: 12px;
    border: 1px solid white;
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center
}

/*-------------------------
    footer
-------------------------*/
.corpInc {
    text-align: right;
}

/*-------------------------
    ログインページ
-------------------------*/
.loginIdForm,
.loginPassForm,
.loginSubmitButton {
    text-align: center;
}

/*-------------------------
room_list.php
-------------------------*/
/*----------テーブルの内容------------*/
.roomlist_table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    padding-top: -200px;
}

.table_name {
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    height: 40px;

}

table.roomlist_table .dataerea td {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}

/*----------画像のサイズ指定------------*/
.img_data {
    width: 200px;
    height: 100px;
    display: table-cell;
    text-align: center;
}

img.listimage {
    vertical-align: middle;
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
}

/*----------ページ表示ボタンの設定------------*/
.title_btn {
    height: 40px;
    background-color: white;
    color: grey;
    margin: 10px 0px 15px 40px;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .5);
}

/*--------------編集、削除ボタン----------------*/
.edit_group {
    margin: auto;
    width: 10%;
    text-align: center;
}

/*--------------新規作成ボタン----------------*/
.list_create>button{
    height: 30px;
}

#up {
    margin-right: -10px;
}

#down {
    margin-right: 20px;
}

.list_id>button,
.list_name>button,
.list_created_at>button,
.list_updated_at>button {
    border: none;
    /* 枠線を消す */
    outline: none;
    /* クリックしたときに表示される枠線を消す */
    background: transparent;
    /* 背景の灰色を消す */
}

/*-------------------------
    編集画面CSS
-------------------------*/
.newcreate {
    margin: auto;
    border-collapse: collapse;
    width: 1000px;
    margin-bottom: 40px;
}

.newcreate tr,
td {
    border: solid 1px black;
}

.newcreate th {
    height: 40px;
    font-weight: bold;
}

.newcreate td {
    text-align: center;
    height: 30px;
    font-weight: bold;
}

.roomedit_table {
    margin: auto;
    border-collapse: collapse;
    width: 1000px;
    margin-bottom: 20px;
    font-weight: bold;
}

.roomedit_title {
    font-size: 14px;
    text-align: center;
    height: 40px;
}

.roomedit_table td {
    border: solid 1px black;
    text-align: center;
}

.changebutton_group {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.doneButton {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.borderLine {
    border-bottom: 1px solid gray;
}

.img_up {
    text-align: center;
}

#confForm>.roomedit_table {
    border-collapse: collapse;
    width: 1000px;
}

#confForm>.roomedit_table>td,
th {
    border: solid 1px black;
    text-align: center;
}

#confForm>.roomedit_table>.confcapa_detail,
.confPrice_detail,
.confCome_detail {
    width: 40%;
}

.conf_newroom {
    width: 1000px;
    margin-bottom: 60px;
    margin: auto;
}

.conf_newroom th {
    width: 278px;
}

.confDone {
    margin-top: -20px;
    display: flex;
    justify-content: space-evenly;
}

.end{
    text-align: center;
}